extends layout

block content
	body.ranking-page
		.header-wrapper
			.header
			.user-header
				h2 Hi
		.ranking-container
			.ranking-selection-box
				#r1.rate_widget
					.chick_1.ratings_chick
					.chick_2.ratings_chick
					.chick_3.ratings_chick
					.chick_4.ratings_chick
					.chick_5.ratings_chick
					.total_votes
		include footer
		script
			$('.ratings_chick').hover(
					function() {  
						$(this).prevAll().andSelf().addClass('ratings_over');  
						$(this).nextAll().removeClass('ratings_vote');   
					},
					function() {  
						$(this).prevAll().andSelf().removeClass('ratings_over');  
						set_votes($(this).parent());  
					}  
				);